
#noticia1 {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/sala_pilates.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Establece posición relativa para que puedas posicionar el texto de manera absoluta */
    margin-top:6em;
}

#noticia2 {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/sala_trx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    
}
#noticia3 {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/sala_yoga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    
}
        

.noticia-izq {
    position: absolute;
    text-align: center;
    padding: 30px;
    width: 40%;
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.65); 
    border-radius: 25px;
}

#noticia-drch{
    position: absolute;
    text-align: center;
    padding: 30px;
    width: 40%;
    right: 0; /* Pone el texto a la derecha*/
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta verticalmente */
    background-color: rgba(0, 0, 0, 0.65); 
    border-radius: 25px;
}

.titulo-noticia{
    color:#FCB900; 
    font-size: 32px; 
    padding: 10px;
}


.texto-noticia{
    text-align: justify;
    color: white;
    font-size: 24px;
}


/* Media query para otros dispositivos */
@media only screen and (max-width: 768px) {
    #noticia1{
        margin-top: 30em;
    }
    
    #noticia2, #noticia3 {
        width: 100%;
    }

    .noticia-izq, #noticia-drch {
        width: 90%; 
        font-size: 16px; 
    }

    .titulo-noticia {
        font-size: 24px;
        padding: 5px;
    }

    .texto-noticia{
        font-size: 18px; 
        padding: 15px; 
    }

    #noticia-drch {
        width: 90%;
        right: 5%;
    }
}
