
#noticia1 {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/sala_pilates.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Establece posición relativa para que puedas posicionar el texto de manera absoluta */
    margin-top:6em;
}

#noticia2 {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/sala_trx.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Establece posición relativa para que puedas posicionar el texto de manera absoluta */
    
}
#noticia3 {
    width: 100vw;
    height: 100vh;
    background-image: url('./imagenes/sala_yoga.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Establece posición relativa para que puedas posicionar el texto de manera absoluta */
    
}
        

.not {
    position: absolute;
    text-align: center;
    padding: 30px;
    width: 40%;
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta verticalmente */
    background-color: rgba(0, 0, 0, 0.45); /* Negro con 10% de opacidad */
    border-radius: 25px;
}
.titnot{
    color:#FCB900; /* Color del texto */
    font-size: 32px; /* Ajusta el tamaño de la fuente según tus preferencias */   
    padding: 10px;
}


.not1{
    text-align: justify;
    color: white;
    font-size: 24px;
}

#not2{
    position: absolute;
    text-align: center;
    padding: 30px;
    width: 40%;
    right: 0; /* Pone el texto a la derecha*/
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta verticalmente */
    background-color: rgba(0, 0, 0, 0.45); /* Negro con 10% de opacidad */
    border-radius: 25px;
}

/* Media query para móviles */
@media only screen and (max-width: 768px) {
    #noticia1, #noticia2, #noticia3 {
        width: 100%;
    }

    .not, #not2 {
        width: 90%; /* Hacer el texto más estrecho en pantallas más pequeñas */
        font-size: 16px; /* Ajustar el tamaño de la fuente para móviles */
    }

    .titnot {
        font-size: 24px; /* Ajustar el tamaño del título para móviles */
        padding: 5px; /* Reducir el relleno del título para móviles */
    }

    .not1 {
        font-size: 18px; /* Ajustar el tamaño del texto para móviles */
        padding: 15px; /* Reducir el relleno del texto para móviles */
    }

    #not2 {
        width: 90%; /* Hacer el contenedor más estrecho para móviles */
        right: 5%; /* Ajustar la posición del contenedor en pantallas más pequeñas */
    }
}
