#reserva{
    background-color: #D9D9D9;
    border: solid 5px white;
    border-radius: 10px;
    width:75%;
}

#titulo-reserva{
    background-color: black;
    color: white;
    margin-top: 4em;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
}

#formulario{
    color: black;
    text-align: center;
    column-count: 2;
}

#btnReservaFormulario{
    background-color: black;
    color:#FCB900;
    text-align: center;
}
