#caja-reserva{
    background-color: #D9D9D9;
    width:55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    margin-bottom: 2em;
    border-radius: 25px;
    border: solid 2px white;
    box-shadow: 5px 5px 20px rgb(0, 0, 0); /* Sombra: desplazamiento-x desplazamiento-y desenfoque color */
}


#titulo-reserva{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}



#formulario{
    color: black;
    text-align: left;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em; /* Relleno de 1em en la parte superior */
    padding-bottom: 1em; /* Relleno de 1em en la parte inferior */
    padding-left: 2em; /* Relleno de 3em en la parte izquierda */
    padding-right: 2em;
}

.box{
    width: 92%;
}


#btnReservaFormulario{
    background-color: black;
    color:#FCB900;
    text-align: center;
    font-size: 1.5em;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}
