h1 {
    text-align: center;
    margin: 30px 0;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8em;
}

article{
    background-color: #D9D9D9;
    margin: 20px;
    width: 30%;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    border-radius: 25px;
    border: solid 2px white;
    padding-bottom: 1em;
}

.titulo-sala{
    background-color: black;
    color: #FCB900;
    text-align: center;
    font-size: 1.5em;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

h3{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-weight: 800;
}

p{
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
}

table{
    text-align: center;
    background-color: black;
    border-radius: 25px;
    margin: 0 auto; /* Esto centrará la tabla horizontalmente */
    width: 90%;
    padding: auto;
}

th{
    color: white;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
}

td{
    color: #FCB900;
    padding-bottom: 15px;
}

article img {
    height: 21em;
    width: 100%;
}
