.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 8em;
}

article{
    background-color: #D9D9D9;
    margin: 20px;
    width: 30%;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    border-radius: 25px;
    border: solid 2px white;
    padding-bottom: 1em;
}

.titulo-sala{
    background-color: black;
    color: #FCB900;
    text-align: center;
    font-size: 1.6em;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

article img {
    height: 21em;
    width: 100%;
}

h3{
    text-align: center;
    font-size: 1.6em;
    font-weight: 800;
}

.texto-sala{
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    padding-bottom: 1em;
}

table{
    text-align: center;
    background-color: black;
    border-radius: 25px;
    margin: 0 auto; /* Esto centra la tabla horizontalmente */
    width: 90%;
}

th{
    color: white;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
}

td{
    color: #FCB900;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 1.2em;
}


/* Media query para móviles */
@media only screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 15em;
    }

    article {
        width: 90%; 
        margin: 50px; 
    }

    .titulo-sala {
        font-size: 1.4em; 
    }

    article img {
        height: auto; 
    }

    h3 {
        font-size: 1.4em; 
    }

    .texto-sala {
        padding: 0 1em; 
        padding-bottom: 0.5em; 
    }

    table {
        width: 100%; 
    }

    th, td {
        font-size: 1.2em;
    }
}
