*{
    font-family: Rubik;
    
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    height: 6em;
    top: 0%;
}

nav {
    width: 100%;
    height: 6em;
    background-color: black;
    position: relative; /* Cambiado a relative */
    z-index: 1; /* Asegura que el nav esté por encima del resto del contenido */
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 6em;
}

nav ul li {
    float: left;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

/*Cuando se pasa el raton por encima*/
nav ul li a:hover {
    text-decoration: underline;
}

.logoNav {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 9.5em;
    height: 4em;
}

#btnReserva {
    color: #FCB900;
    border: solid #FCB900;
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
}

/*Footer*/
footer{
    padding: 1em;
    column-count: 3;
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
}

.logoFooter{
    margin: 0;
    text-align: left;
    width: 15em;
    height: 4em;
}

.info{
    padding: 0%;
}