/*Elementos comunes*/
*{  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}

body {
    margin: 0;
}

/*Header*/
header {
    position: fixed;
    width: 100%;
    height: 6em;
    top: 0%;
    z-index: 1000;
}

nav {
    width: 100%;
    height: 6em;
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 6em;
    column-count: 5;
}

nav ul li {
    height: 6em;
    text-align: center;
}

nav ul li a {
    padding: 1.25em 1em 0 0;
    display: inline-block;
    font-size: 1.6em;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-weight: 1000;
    
}

/*Cuando se pasa el raton por encima*/
nav ul li a:hover {
    text-decoration: underline;
}

.logoNav {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 14.5em;
    height: 6em;
}

#btnReserva{
    color: #FCB900;
    text-align: center;
    border: 2px solid #FCB900; /* Establece el borde con el mismo color que el texto */
    padding: 15px 15px; /* Ajusta el espaciado del botón según sea necesario */
    border-radius: 15px; /* Opcional: agrega bordes redondeados */
    margin-top: 0.65em;
}


/*Footer*/
footer{
    width: 100%;
    padding: 1em;
    column-count: 3;
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
}

.logoFooter{
    margin: 0;
    text-align: left;
    width: 15em;
    height: 6em;
    padding: 0 0 0 1em;
}

.info{
    padding: 0%;
}
